# Dataframes are a commonly used way to store and work with data, it's pretty easy to convert between a .csv and a dataframe

In [1]:
# columns generally contain one type of data

# Here I'm making and populating a dataframe using the data.frame() function
exampleDF<-data.frame(columnOne=1:5,columnTwo=TRUE,columnThree=c("one","two","three", "four","five"))

# Look at the structure of the dataframe
print("structure")
str(exampleDF)

# Look at a summary of the dataframe
print("summary")
summary(exampleDF)

# Look at the dataframe itself
print("dataframe")
exampleDF

[1] "structure"
'data.frame':	5 obs. of  3 variables:
 $ columnOne  : int  1 2 3 4 5
 $ columnTwo  : logi  TRUE TRUE TRUE TRUE TRUE
 $ columnThree: chr  "one" "two" "three" "four" ...
[1] "summary"

   columnOne columnTwo      columnThree
 Min.   :1   Mode:logical   Length:5
 1st Qu.:2   TRUE:5         Class :character
 Median :3                  Mode  :character
 Mean   :3
 3rd Qu.:4
 Max.   :5

[1] "dataframe"

  columnOne columnTwo columnThree
1 1         TRUE      one
2 2         TRUE      two
3 3         TRUE      three
4 4         TRUE      four
5 5         TRUE      five

# Ways to pull specific lines from a dataframe

In [2]:
# changing the dataframe to contain a different variety of values
exampleDF<-data.frame(one=c(6,NA,8,NA,9),two=c(TRUE,FALSE,TRUE,FALSE,TRUE),three=1:5)
exampleDF

  one two   three
1  6   TRUE 1
2 NA  FALSE 2
3  8   TRUE 3
4 NA  FALSE 4
5  9   TRUE 5

In [3]:
# access one row by index
print("one row:")
exampleDF[3,]

# access one value in a specific row and column
print("one value:")
exampleDF[3,2]

[1] "one row:"

  one two  three
3 8   TRUE 3

[1] "one value:"

[1] TRUE

In [4]:
# access one column by index
# vector of values in a column
exampleDF[,3]
exampleDF[[3]]

# single column of data frame, but this is a bit misleading when considering the  df[y,x] format
exampleDF[3]

# the distinction to note here is vector vs dataframe datatype output

[1] 1 2 3 4 5

[1] 1 2 3 4 5

  three
1 1
2 2
3 3
4 4
5 5

In [5]:
# # find the max value of a data frame and the column it's in
# val = 0
# for( col in names(exampleDF) ){
#     temp = max( exampleDF[col] )
#     if (temp > val){
#         val = temp
#         final = col
#     }
# }
# sprintf("Max value is %i in column %s.",temp, final)

In [6]:
# show me rows of 'exampleDF' where the values in exampleDF column 'one' are greater than 3
exampleDF[ exampleDF$one > 3 ,]

     one two  three
1     6  TRUE  1
NA   NA    NA NA
3     8  TRUE  3
NA.1 NA    NA NA
5     9  TRUE  5

In [7]:
# show rows where values in exampleDF column 'two' are TRUE
exampleDF[ exampleDF$two == TRUE ,]

  one two  three
1 6   TRUE 1
3 8   TRUE 3
5 9   TRUE 5

In [8]:
# function is.na() recognizes NA and NaN values
is.na(NA)
is.na(NaN)

[1] TRUE

[1] TRUE

In [9]:
# lines with NA
exampleDF[ is.na(exampleDF$three) ,]

     one two three

In [10]:
# lines without NA
exampleDF[ !is.na(exampleDF$three) ,]

  one two   three
1  6   TRUE 1
2 NA  FALSE 2
3  8   TRUE 3
4 NA  FALSE 4
5  9   TRUE 5

# These can be used to subset data while retaining the original DF

In [11]:
exDFnoNA<-exampleDF[ !is.na(exampleDF$three) ,]
exDFnoNA # has only lines where column three does not have NA

exampleDF # stays the same

  one two   three
1  6   TRUE 1
2 NA  FALSE 2
3  8   TRUE 3
4 NA  FALSE 4
5  9   TRUE 5

  one two   three
1  6   TRUE 1
2 NA  FALSE 2
3  8   TRUE 3
4 NA  FALSE 4
5  9   TRUE 5

## Another way is to use which()

In [12]:
# returns the row position(s) where the logical test evaluated to TRUE
which(exampleDF$one > 3)

# this can be used to access those specific rows in the data frame
exampleDF[ which(exampleDF$one > 3) ,]

[1] 1 3 5

  one two  three
1 6   TRUE 1
3 8   TRUE 3
5 9   TRUE 5

# This can also be used to overwrite values, though does so for the whole row

In [13]:
test<-exampleDF
test[ which(test$one > 3) ,] <- 'test'

test

  one  two   three
1 test test  test
2 NA   FALSE 2
3 test test  test
4 NA   FALSE 4
5 test test  test

## Counting things

In [14]:
# number of rows
nrow(exampleDF)

# number of columns
ncol(exampleDF)
length(exampleDF)

# logical test on an entire column of data frame
exampleDF$two == TRUE

# is.na() returns TRUE or FALSE for each row
is.na( exampleDF$three )

# sum() can be used to add each time the logical test evaluates to TRUE
sum( is.na(exampleDF$three) )

[1] 5

[1] 3

[1] 3

[1]  TRUE FALSE  TRUE FALSE  TRUE

[1] FALSE FALSE FALSE FALSE FALSE

[1] 0

## For loops to modify a dataframe

In [15]:
exampleDF

  one two   three
1  6   TRUE 1
2 NA  FALSE 2
3  8   TRUE 3
4 NA  FALSE 4
5  9   TRUE 5

### Building a for loop to modify one column in a dataframe step by step

1. isolate a column

In [16]:
exampleDF['three']

  three
1 1
2 2
3 3
4 4
5 5

2. Make a for loop to iterate through each item in the column

In [17]:
for(i in exampleDF['three']){
    print(i)
}

[1] 1 2 3 4 5

Example: use the items to calculate something new

In [20]:
for(i in exampleDF['three']){
    print( i*2 )
}

[1]  2  4  6  8 10

Example: create a new column with modified values (note: you could also replace the items in the original dataframe by reindicating the same column)

In [21]:
for(i in exampleDF['three']){
    exampleDF['doubled']<-i*2 
}

exampleDF

  one two   three doubled
1  6   TRUE 1      2
2 NA  FALSE 2      4
3  8   TRUE 3      6
4 NA  FALSE 4      8
5  9   TRUE 5     10

### The benefit to acccessing the column using dataframe['name of column'] vs dataframe$name of column is that [ ] can take a variable as input

In [26]:
colName<-'two'
# can be used to access the specific column
exampleDF[colName]

# or a vector of the data in the column
exampleDF[[colName]]

  two
1  TRUE
2 FALSE
3  TRUE
4 FALSE
5  TRUE

[1]  TRUE FALSE  TRUE FALSE  TRUE