# Code written for learning some rudimentary R through jupyter-notebooks

# In notebooks, we have two different types of cells
    This one is a Markdown cell

In [1]:
# This one is an R cell,
cat("Hello World")

# all of these code blocks should run in any R integrated development environment (IDE) such as RStudio and RGUI

# comments in R use the # symbol, this can be used to leave comments on code, or to disable code
# print("Hello World")

Hello World

# A couple benefits of a notebook over a regular R file is being able to intersperse markdown cells in your code for better commenting, and also to have your program be split up into cells, so you can work on one chunk of code at a time.
You can see some of the basic syntax for markdown [here](https://rmarkdown.rstudio.com/authoring_basics.html)

I also recommend taking a moment to learn the keyboard shortcuts of Jupyter Notebook, looking at `insert`, `cell` above.  Or keep in mind that they exist for when you want to save time later.
    
One I use often is `ctrl+/` which comments and uncomments lines in both the markdown and code cells

In [2]:
# You will likely see code that loads packages for more complex functionality, 
# but R does have many things built in
1+4

[1] 5

# There are several ways to display outputs

In [66]:
#cat() is concatenate and display on the standard output stream
#it also recognizes escape characters like \n for new line
cat("concatenate", "multiple", "things", TRUE, 3, "\n")

concatenate multiple things TRUE 3

In [67]:
# print function
print("print does not recognize \n, but default ends with a new line")
print("and can only take one input")

[1] "print does not recognize \n, but default ends with a new line"
[1] "and can only take one input"

In [70]:
# message() used for error messages on the standard error stream
message("error"," ","stream")

#read more here: https://en.wikipedia.org/wiki/Standard_streams

error stream

In [71]:
# other escape characters
cat("\\ back slash \n newline, \" quotes \' \t horizontal tab")
# continues without stopping, \r and \b not that useful
cat("\n carriage return \r OVERWRITE")

cat("\n can\b to backspace")

\ back slash
 newline, " quotes ' 	 horizontal tab
 OVERWRITEreturn
 ca to backspace

# A variable is something that holds another value, in math it's used to store numbers, in code it can store many other things

In [72]:
# storing things in variables
variableA <- 3
variableB <- "this"
variableC <- 1:5
variableD <- list(variableA, variableB, variableC)

In [74]:
# displaying things in variables to output
variableA

[1] 3

In [75]:
variableB

[1] "this"

In [76]:
variableC

[1] 1 2 3 4 5

In [77]:
variableD

[[1]]
[1] 3

[[2]]
[1] "this"

[[3]]
[1] 1 2 3 4 5

## Variables can be used to represent the same value repeatedly

In [6]:
a<-42
a
a+1
a+2
a+3

[1] 42

[1] 43

[1] 44

[1] 45

## Their value will only change when something changes it

In [7]:
a <- 42
a

a <- 5 + 6
a

[1] 42

[1] 11

## When storing in a variable, the processing/calculation happens first, so you can self reference after a variable has already been made

In [8]:
a = 42
a

a = a*2
a

[1] 42

[1] 84

## side note: generally R does not care about spacing, so it's mainly whatever is legible for you

In [9]:
a  <-                    5
a

b<-'this'
b

print(                         42                         )

[1] 5

[1] "this"

[1] 42

# Note that `=` and `<-` or `->` are assignment operators in R, but do have some nuances
There's also `<<-` and `->>`, read more [here](https://www.rdocumentation.org/packages/base/versions/3.6.2/topics/assignOps)

In [10]:
# strictly assigns right value to left variable
a = 5

# Are visibly directional:
b <- 7
9 -> c

# calling the name of a variable will display it in the shell,
    # but is distinct from print which displays on both the shell and when run as script?
a
b
print(c)

[1] 5

[1] 7

[1] 9

# You can use ls() to see variables in the environment

In [39]:
# list objects
ls()

 [1] "aList"        "bList"        "bool"         "char"         "combined"
 [6] "complex"      "float"        "functionName" "i"            "nList"
[11] "str"          "usingC"       "usingList"    "value"        "variableA"
[16] "variableB"    "variableC"    "variableD"    "vecN"         "vector"

# You can use rm() to remove specific items

In [12]:
rm(a)
rm(b, c) # can put multiple things to remove
ls()

[1] "variableA" "variableB" "variableC" "variableD"

# You can use rm() to remove all items by giving it the list of all objects in the environment

In [43]:
rm(list = ls())
ls()

character(0)

# Common Data Types in R, which can be seen by using the class() function

## logical

In [44]:
bool <- TRUE
bool
class(bool)

[1] TRUE

[1] "logical"

## numeric

In [45]:
float <- 3.14
float
class(float)

value <- 42
value
class(value)

[1] 3.14

[1] "numeric"

[1] 42

[1] "numeric"

## integer, whole numbers take up less space in memory if that is a concern

In [46]:
i <- as.integer(3.14)
i
class(i)

[1] 3

[1] "integer"

## complex, can store imaginary values

In [47]:
complex <- 3+2i
complex
class(complex)

[1] 3+2i

[1] "complex"

## character, includes strings (note R does not distinguish ' and " )

In [48]:
char <- "a"
char
class(char)

str <- 'string'
str
class(str)

[1] "a"

[1] "character"

[1] "string"

[1] "character"

# Data storage / structures?  just vector and list for now

## Vector
c() combines items and returns a vector of type matching input items, if input is a mix of data types, it will be a character vector

A 'vector' is not really a type so much as it's just a series of one data type, so class() will return the type of item stored, rather than 'vector', whereas 'list' does refer to a specific type of object

In [49]:
# a vector can only contain one type of data, but it can be any data type
c(1,2,3)
c("a","short","string")

# they can be stored in variables
vector<-c(TRUE,FALSE)

vector # access it by variable name
class(vector) # matches the type of data stored in it

[1] 1 2 3

[1] "a"      "short"  "string"

[1]  TRUE FALSE

[1] "logical"

In [50]:
#initialize a vector with default values where mode = data type, and length is how many entries it can contain
vector(mode="numeric",length=3)

vector("logical",length=4)

vector("list",length=2)

[1] 0 0 0

[1] FALSE FALSE FALSE FALSE

[[1]]
NULL

[[2]]
NULL

In [51]:
# create empty vector
vecN<-vector("numeric",3)
vecN

# fill vector by numeric index
vecN[3] = 42
vecN[1] = 6
vecN[2] = 7

vecN

[1] 0 0 0

[1]  6  7 42

## List

In [52]:
# a list can contain different types of items, including more complex items and other lists
list('a', TRUE, 3)

[[1]]
[1] "a"

[[2]]
[1] TRUE

[[3]]
[1] 3

In [82]:
# list
usingList<-list('a', TRUE, 3)
usingList

[[1]]
[1] "a"

[[2]]
[1] TRUE

[[3]]
[1] 3

In [83]:
class(usingList)

# item 3 is a numeric type, 3, so can be treated as a number
usingList[[3]] + 4

[1] "list"

[1] 7

In [84]:
# concatenate
usingC<-c('a', TRUE, 3)
usingC

[1] "a"    "TRUE" "3"

In [85]:
class(usingC)

# item 3 is a character type, "3", so cannot be treated as a number
usingC[[3]] + 4

[1] "character"

ERROR: Error in usingC[[3]] + 4: non-numeric argument to binary operator

In [86]:
# a list can be stored in a variable and items can be accessed by numerical index
aList<-list('a', TRUE, 3)

# items can be accessed by numerical index
aList[[3]]
aList[[1]]

# str() can be used to see the structure of the data
str(aList)

[1] 3

[1] "a"

List of 3
 $ : chr "a"
 $ : logi TRUE
 $ : num 3

## Named index

In [88]:
# a list can also have a named index
aList<-list("this"="a",
            "that"=TRUE,
            "another thing"=3)

# show structure and contents
str(aList)

# which can then be accessed by those names
aList["that"] # the item within aList
aList[["that"]] # the item within "that"

List of 3
 $ this         : chr "a"
 $ that         : logi TRUE
 $ another thing: num 3

$that
[1] TRUE

[1] TRUE

In [56]:
# those names can also be added/modified after the fact
names(aList)<-c("new","names","for all!")

str(aList)

List of 3
 $ new     : chr "a"
 $ names   : logi TRUE
 $ for all!: num 3

## Different ways to access elements in a list

In [57]:
nList<-list(1,2,3,4,5)
# [] returns a list
class( nList[1] )
nList[1]

# [[]] returns the item stored in the list
class( nList[[1]] )
nList[[1]]

str(nList)

[1] "list"

[[1]]
[1] 1

[1] "numeric"

[1] 1

List of 5
 $ : num 1
 $ : num 2
 $ : num 3
 $ : num 4
 $ : num 5

In [58]:
# combining lists
aList<-list('a', TRUE, 3)
bList<-list('b', FALSE, 4)

combined<-list(aList , bList)

combined

# access one list by numerical index
combined[2]
# combined[[2]][[2]]

# acess one item in a list
    # list 1, item 2
combined[[1]][[2]]

[[1]]
[[1]][[1]]
[1] "a"

[[1]][[2]]
[1] TRUE

[[1]][[3]]
[1] 3


[[2]]
[[2]][[1]]
[1] "b"

[[2]][[2]]
[1] FALSE

[[2]][[3]]
[1] 4

[[1]]
[[1]][[1]]
[1] "b"

[[1]][[2]]
[1] FALSE

[[1]][[3]]
[1] 4

[1] TRUE

# How to define a function and call it

In [59]:
# definition
functionName<-function(){
    #code to execute
    print("Print function output")
}

# call
functionName()

[1] "Print function output"

# You can do more complex things when defining a function such as declaring parameters which receive arguments when called

In [60]:
# definition
add<-function(param1,param2){
    param1+param2
}

# call
add(3,5)

[1] 8

# You can even declare that those parameters have default values

In [62]:
# definition
myNameIs<-function(name = "n/a"){
    # sprintf() lets us insert specific variable types into character strings, %s means string
    sprintf("My name is %s", name)
}

# Call without argument
myNameIs()

# Call with argument
myNameIs("Inigo Montoya")

[1] "My name is n/a"

[1] "My name is Inigo Montoya"

# You can type the name of a function to see it's declaration, print to see a little more information or use the help() function to see the built in documentation

In [65]:
median

#something along the lines of this, though it doesn't show how the function actually calculates the median
#median<-function(x, na.rm=FALSE,...){return(sum(x)/length(x))}

function (x, na.rm = FALSE, ...)
UseMethod("median")
<bytecode: 0x000001fb3617a028>
<environment: namespace:stats>

In [64]:
print(median)

function (x, na.rm = FALSE, ...)
UseMethod("median")
<bytecode: 0x000001fb3617a028>
<environment: namespace:stats>

In [63]:
help(median)

median                  package:stats                  R Documentation

_M_e_d_i_a_n _V_a_l_u_e

_D_e_s_c_r_i_p_t_i_o_n:

     Compute the sample median.

_U_s_a_g_e:

     median(x, na.rm = FALSE, ...)
     ## Default S3 method:
     median(x, na.rm = FALSE, ...)

_A_r_g_u_m_e_n_t_s:

       x: an object for which a method has been defined, or a numeric
          vector containing the values whose median is to be computed.

   na.rm: a logical value indicating whether 'NA' values should be
          stripped before the computation proceeds.

     ...: potentially further arguments for methods; not used in the
          default method.

_D_e_t_a_i_l_s:

     This is a generic function for which methods can be written.
     However, the default method makes use of 'is.na', 'sort' and
     'mean' from package 'base' all of which are generic, and so the
     default method will work for most classes (e.g., '"Date"') for
     which a median is a reasonable concept.

_V_a_l_u_e:

     The default method returns a length-one object of the same type as
     'x', except when 'x' is logical or integer of even length, when
     the result will be double.

     If there are no values or if 'na.rm = FALSE' and there are 'NA'
     values the result is 'NA' of the same type as 'x' (or more
     generally the result of 'x[NA_integer_]').

_R_e_f_e_r_e_n_c_e_s:

     Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S
     Language_.  Wadsworth & Brooks/Cole.

_S_e_e _A_l_s_o:

     'quantile' for general quantiles.

_E_x_a_m_p_l_e_s:

     median(1:4)                # = 2.5 [even number]
     median(c(1:3, 100, 1000))  # = 3 [odd, robust]

## Looking at some of the nuance between `=` and `<-`

In [31]:
# results in an error because = can only be used to populate parameters
median(x= y=1:10)

ERROR: Error in parse(text = x, srcfile = src): <text>:2:12: unexpected '='
1: # results in an error because = can only be used to populate parameters
2: median(x= y=
              ^

In [32]:
# declaring a variable called y and also presenting it as an argument
median(x= y<-1:10)

y

[1] 5.5

 [1]  1  2  3  4  5  6  7  8  9 10

# Logic expressions which can be combined to create more complex expressions

In [33]:
# equivalence, it's double = because a single = is the assignment operator
1 == 2

1 == 1

# works for strings as well
"this" == "that"

"this" == "this"

[1] FALSE

[1] TRUE

[1] FALSE

[1] TRUE

In [34]:
# greater than or less than
1 > 2
1 < 2

# comparing lengths of strings
"abc" > "d"

# less than or equal to
1 <= 1

# greater than or equal to
1 >= 2

[1] FALSE

[1] TRUE

[1] FALSE

[1] TRUE

[1] FALSE

In [35]:
# not equivalent
1 != 2

1 != 1

[1] TRUE

[1] FALSE

In [36]:
# returns the opposite logical value
!TRUE
!FALSE

# works with variables
x=FALSE

!x

[1] FALSE

[1] TRUE

[1] TRUE

In [37]:
# and
TRUE & TRUE
TRUE & FALSE
FALSE & FALSE

[1] TRUE

[1] FALSE

[1] FALSE

In [38]:
# or
TRUE | TRUE
TRUE | FALSE
FALSE | FALSE

[1] TRUE

[1] TRUE

[1] FALSE

#

# `if`, `else`, and `else if` structure

In [39]:
x = TRUE
if(x==TRUE){
    print("true")
}

[1] "true"

In [40]:
x = FALSE
if(x==TRUE){
    print("true")
} else {
    print("false")
}

[1] "false"

In [41]:
# you can play around with the value of x here and rerun the block
x = 3
if(x==1){
    print(1)
} else if(x==2){
    print(2)
} else if(x==3){
    print(3)
} else {
    print("out of conditions")
}

[1] 3

# `while` loop vs `for` loop

## while() is for logical tests
`while(logical test is true){
    do a thing
    iterate the logical test, else you end up in an infinite loop
}`

In [42]:
x = 1
while(x < 5){
    print(x)
    x=x+1 # if you don't iterate your variable/counter, you will end up in an endless loop
}

[1] 1
[1] 2
[1] 3
[1] 4

## for() works to iterate through items in a vector such as a list, etc [naturally iterates through items in the list]
`for(item in a list){
    do thing to / with item
}`

In [43]:
# prints items in a vector, 1:5 is an integer vector meaning 1, 2, 3, 4, 5
for(x in 1:5){
    print(x)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [108]:
# c() combines items into a vector, regardless of type
vector = c("apple", "orange", "banana", 5, 10)
for(item in vector){
    print(item)
}

[1] "apple"
[1] "orange"
[1] "banana"
[1] "5"
[1] "10"

## A way to get the numerical value instead of the actual vector item, which can then be used to access elements of lists

In [118]:
vec2 = c("one","two", 3, TRUE, FALSE)

# length() provides the count of items, starting from 1
length(vec2)

# recall that this would just indicate a vector of 1, 2, 3, 4, 5
1:5

# so then this just serially prints each number
for(i in 1:length(vec2)){
    print(i)
}

[1] 5

[1] 1 2 3 4 5

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

## This method can be used to access the same elements in order

In [114]:
for(i in 1:length(vec2)){
    print( vec2[i])
}

[1] "one"
[1] "two"
[1] "3"
[1] "TRUE"
[1] "FALSE"

## Or starting from a different element if we change the 1

In [116]:
# elements 3 to the end
for(i in 3:length(vec2)){
    print( vec2[i])
}

[1] "3"
[1] "TRUE"
[1] "FALSE"

## You could also specify both numbers

In [119]:
# elements 2 through 4 
for(i in 2:4){
    print( vec2[i])
}

[1] "two"
[1] "3"
[1] "TRUE"

## This can also be used in something else that has elements in a vector as well, for example the first vector

In [115]:
for(i in 1:length(vec2)){
    print( vector[i] )
}

[1] "apple"
[1] "orange"
[1] "banana"
[1] "5"
[1] "10"

## Nested `for` loops can be used to iterate through two different vectors or multiple dimensions of one object (will show alongside dataframes)

In [86]:
x = 1:5
y = c("a", "b", "c")

for(i in x){
    for(j in y){
        # cat is concatenate and print
        # %i is for integer
        # \n is the new line character
        cat(sprintf("(%i, %s)\n", i, j))
    }
}

(1, a)
(1, b)
(1, c)
(2, a)
(2, b)
(2, c)
(3, a)
(3, b)
(3, c)
(4, a)
(4, b)
(4, c)
(5, a)
(5, b)
(5, c)

# Working with the file directory

## Get the current working directory, default is the folder the script is in

In [47]:
wd <- getwd()
wd

[1] "/home/pleocavee/Desktop/code_basics"

## Get the basename of the input directory path, using the working directory as an example

In [48]:
basename(wd)

[1] "code_basics"

## List the files of the input directory path, using the working directory as an example

In [49]:
list.files(wd)

[1] "r_basics.ipynb"                 "USGS_earthquakes_all_month.csv"

## Add strings to each other using `paste()`, the default separation string is one space

In [50]:
# default behavior is to separate each string with a space, " "
paste("this","that","and another thing",".")

# but you can change that
paste("this","that","and another thing",".",sep=", ")

[1] "this that and another thing ."

[1] "this, that, and another thing, ."

### `paste0()` default separate is no space

In [170]:
paste0("No","Space")

[1] "NoSpace"